#judul {
    background-color: rgb(246, 218, 169, .5);
    padding: 60px 0;
    text-align: center;
}

.portofolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:5rem 0;
}

.portofolio .box-container .box{
    height: 30rem;
    width:30rem;
    border-radius: 5rem;
    margin:1rem;
    overflow: hidden;
    cursor: pointer;
}

.portofolio .box-container .box img{
    height:70%;
    width:50%;
    object-fit: cover;
}

.portofolio .box-container .box:hover img{
    transform: scale(1.3);
}